.mainimg{
    width:100%;
    height:48rem;
}
.MainText
{
    
    position: relative;
    width: fit-content;
     /* top: -20rem; */
    /* left: 33rem;  */
    /* color:black; */
    color: white;
}
.maintextp{
    height: 9rem;
    width: 52rem;
    border: black solid 2px;
    border-radius: 10px;
    border-style: outset;
    position: relative;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: white solid 2px; */
    /* width: 75%; */
    /* align-self: center; */
    top:-20rem;
    left: 20rem;
    backdrop-filter: 200px;
    z-index: 3;
    backdrop-filter: blur(2px);
    /* background-color: rgba(255, 255, 255, 0.749); */
    /* background-color: #dea472; */
    /* opacity:0.6; */
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 0.5);
    
    -webkit-text-stroke-width: 1px;
    /* -webkit-text-stroke-color: white; */
    background-clip: text;
-webkit-background-clip: text;
color: transparent;
background-image: linear-gradient(to right, #ff9966, #ff5e62);
background-image: linear-gradient(to right, #ff9966, #ff5e62);
-webkit-background-clip: text;
color: transparent;
font-size: 1.2em;
/* background: rgba(255, 255, 255, 0.249); */
/* animation: glow 1.5s ease-in-out infinite alternate; */
font-family: 'Arial', sans-serif;
    
}

.nameof{
    color: #ca6c19;
    font-weight: bolder;
}
.mainText2{
    width: fit-content;
    user-select: none;
    color: black;
    font-weight: bolder;
    position: relative;
    /* top: -20rem; */
    /* left: 21rem; */
}
.offer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin-bottom: 8rem;
}
.specialities{
    display: flex;
    justify-content:space-between;
    align-items: center ;
    width: 48rem;
    flex-direction: row;
    margin-top: 4rem;
}

.s1{
    /* border: black solid; */
    height: 16rem;
    width: 15rem; 
    display: flex;
    /* align-self: center; */
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding: 2rem;

}
.s1logo{

    width: 10rem;
    height: 10rem;
    
}
.s1text{
    opacity: 0;
    transition:opacity 0.3s ease-in-out;
    font-weight: lighter;
    

}

.s1:hover .s1text{
    
    opacity:1;

}
.s1:hover{
    transform: scale(1.1);
    border:gray solid 1px;
    border-radius: 1rem;
    box-shadow: gray;

}
.content1_a2{
    width:100%;
    height: 175px;
    background-color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
}

.content1_a2 div{
    color: black;
    height: 150px;
    width: 150px;
    border-radius: 8%;
    margin: 3px;
    background-color: white;
    border: 3px solid aliceblue;
    margin-bottom: 12rem;
    margin-top: 12rem;
}

.content1_a2 div:hover{
    scale: 1.1;
    color:gray
}

.category{
    width:9rem;
    
}
.head1{
    font-weight:600;
    margin-bottom:2rem ;
}

.underline1{
    text-decoration: none;
}