.about_us{

    background-color:#fcb85f ;
}

.rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.space{
    height:50px;
}

.container2{
    margin:0 auto;
    color:white;
    background-color: #f78a4f;   
    height:20rem;
    width:70rem;
    text-align: center;
    border-radius: 25px;
    padding:1.3rem;
    box-sizing: border-box;
    background-size: 1500px;
    
}
#container1{

    width:12rem;
    height: 12rem;
    text-align: center;
    border-radius: 15px;
    margin: 3rem;
    border: 3px solid white;
    font-size: 0.9rem;
    

}
#container1:hover{
    border: 2px solid #f78a4f;
    box-shadow: 0 0 3px 3px  #f42424;
}

.photo img{
    height:5rem;
    width: 5rem;
    border-radius: 50%;
}


