/* SignUp.css */

/* Container Styling */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5; /* Changed background color for consistency */
}

/* Content Box Styling */
.signup-content {
  width: 400px; /* Increased width for better spacing */
  margin-top: 20px;
  padding: 40px; /* Increased padding for better spacing */
  border-radius: 12px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 10px 10px 20px #d9d9d9,
              -10px -10px 20px #ffffff;
}

/* Heading Styling */
.signup-content h2 {
  text-align: center;
  color: #444;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
}

/* Form Styling */
.signup-content form {
  display: flex;
  flex-direction: column;
}

/* Label Styling */
.signup-content label {
  font-weight: bold;
  color: #666;
  margin-bottom: 5px; /* Added margin bottom for better spacing */
}

/* Input Styling */
.signup-content input[type='text'],
.signup-content input[type='email'],
.signup-content input[type='password'] {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px; /* Increased padding for better appearance */
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: inset 5px 5px 10px #c6c6c6,
              inset -5px -5px 10px #ffffff;
  font-size: 16px;
}

/* Button Styling */
.aa button {
  width: 100%;
  padding: 15px; /* Increased padding for better appearance */
  background: linear-gradient(145deg, #f68248,#ff9966); /* Gradient button */
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s, transform 0.3s;
}

.aa button:hover {
  background: linear-gradient(145deg, #f68248,#ff9966); /* Darker gradient on hover */
  transform: translateY(-2px);
}

/* Message Styling */
.error-message,
.success-message {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #dc3545; /* Red color for error messages */
}
