.footer{
    /* margin-top: 3rem; */
    height: 22rem;
    width: 100%;
    background-color:#333;
    border: 1px solid #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer1{
    height: 300px;
    width: 95%;
    background-color:#333;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    color: white;
}


.footer1 div{
    height: 260px;
    width: 200px;
    /* border-radius: 8%; */
    margin: 5px;
    /* margin-top: 0.5rem; */
    padding-top: 20px;
    /* border: 1px solid #cccccc; */
    
} 

.footer2 {
    height: 80rem;
    width : 95%;
    background-color: #333;
    /* border: 1px solid beige; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    color: white;

}

.footer2 div{
    height: 75px;
    width: 300px;
    /* border-radius: 8%; */
    /* margin: 5px; */
    /* border: 1px solid #cccccc; */
}
.footer2_a2{
    display: flex;
    justify-content: space-between;

    width: 24rem;
    /* gap: 1rem; */
}
.linkedin,.yt,.twi,.inst{
    width: 2rem;
    margin-left: 1rem;
}