.navbar{
    background-color: 	#c7764a;
    width: screen;
    height: 5rem;
    margin-top: -0.5rem;
    /* margin-right: -0.5rem; */
    /* margin-left: -0.5rem; */
    display: flex;
    flex-direction: row;
    user-select: none;
    cursor: pointer;
    justify-content: space-between;

}
.s{
    color:#702d0a;
    font-weight: bolder;
}
.part2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 1rem;
}

.name,.logo{
    display: flex;
    align-items: center;
}
.name{
    margin-left:2rem;
    color: white;
    font-weight: bold;
    
}
.login {
    position:relative;


    display: flex;
   /* margin-left: 66rem; */
   align-items: center;
   align-self: center;
   justify-content: center;
    width: 5rem;
    height: 2.7rem;
    flex-direction: row;
    font-weight: bold;
    border: black solid;
    border-radius:0.5rem;
    background-color: #FEFAF6;
    padding: 0.5rem;
}

.logoimg{
    width: 1rem;
    height: 1rem;
}

.signup{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 6rem;
    height: 2.7rem;
   margin-left: 0.5rem;
   font-weight: bold;
   border: black solid;
   padding: 0.5rem;
    border-radius:0.5rem;
    background-color: #FEFAF6;
}
.seperator{
    display: flex;
    align-items: center;
    justify-content: center;
    ;
}
.login:hover{
    border-radius:0.5rem;
    background-color: #ffc18c;
    /* transform: scale(1.1); */
}

.signup:hover{
    border-radius:0.5rem;
    background-color: #ffc18c;
    /* transform: scale(1.1); */
}

.navbar1{
    display: flex;
    height: 4rem;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    font-weight: bolder;
    color: black;
    user-select: none;
    cursor: pointer;
    border-bottom:gray solid;
    background-color: white;
}
/* .navbar1:hover{
    color:#d1690e;
} */
.home1{
    width: 30rem;
    display: flex;
    justify-content: space-around;
    gap: 1.0rem;
    flex-direction: row;
    text-decoration: none;
}
.navlink-style{
    text-decoration: none;
}
.profile{
    /* margin-left:40rem; */
    width: 3rem;
    height: 3rem;
}
.home3:hover{
    color: #ca6c19;
}
.user{
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.profilemain{
    margin-right: 1rem;
}

.home3{
    font-size: 1rem;
    color: black;
    text-decoration: none;
}