.formclass{
    background-color:#fcb85f;
}
.forms {
    max-width: 35rem;   
    margin: 0 auto;
    padding: 30px;
    /* background-color: #e8e8e8; */
    border-radius:1.0rem;
    /* border:0.1rem solid black; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.formclass h1 {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

form {
    background-color:rgb(242, 236, 236);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 0px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 0.3rem;
    box-sizing: border-box;
    
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #c7764a;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: rgb(113, 254, 113);
}
